<div class ="container">
	<div class="row">
		<div class ="col-xs-12">
		    <div class ="about text-center">
		    	<!--タイトル　-->
			    <h1>About</h1>
			    <div class ="about-text">
					<p>
					1日の食事も筋トレだ！！</br>
					増量したい人も減量したい人も食事が重要になってきます。</br>
					毎日食べる物だからこそ少しでも美味しく食べたい。美味しい食べ方を知りたい。</br>
					そんな思いでこのサイトを作りました。
	 				</p>
	            </div>
	            <!-- スライドショー　-->
	            <div class ="slide">
				 	<div class="slide-body"><img class="slide-img" src="<%= asset_path "almonds.jpg" %>" ></div>
				 	<div class="slide-body"><img class="slide-img" src="<%= asset_path "asparagus.jpg" %>"></div>
				 	<div class="slide-body"><img class="slide-img" src="<%= asset_path "olive-oil.jpg" %>"></div>
				 	<div class="slide-body"><img class="slide-img" src="<%= asset_path "vegetables.jpg" %>"></div>
				</div>
	        </div>
        </div>
    </div>
</div>