/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
 }

body{
  background: image-url('back2.jpg')
}

.background-color{
  background-size: contain;
}

 li{
	list-style: none;
 }
 header{
  background-size: cover;
}
.header_flex {
	display: flex;
	height: 110px;
	align-items: center;
}
.site-title{
  font-family: fantasy;
  font-weight: bold;
  font-size: 62px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 2px #888;
  padding: 0 0 5px;
}
.header_flex nav {
	margin-left: auto;
 }
.header_flex ul {
	display: flex;
}
.header_flex ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.user-name{
  font-weight: bold;
	margin-top: 10px;
  color: #000;
  font-size: 16px;
  background-color: rgba(255,255,255,0.6);
}
.genre {
	min-height: 300px;
}
.genre-name {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}