<td>
  <% if recipe.favorited_by?(current_user) %>
    <%= link_to users_recipe_favorites_path(recipe, redirect_id: 0), method: :delete, remote: true do %>
      <span><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i><%= recipe.favorites.count %> いいね</span>
    <% end %>
  <% else %>
    <%= link_to users_recipe_favorites_path(recipe, redirect_id: 0), method: :post, remote: true do %>
      <span><i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i><%= recipe.favorites.count %> いいね</span>
    <% end %>
  <% end %>
</td>
