<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='col-lg-3 col-lg-offset-9'>
    		<%= link_to new_admin_session_path do %>
    		  <br>
    		  <br>
    		  <p class="cr"><%= "CopyRight Meshitore.inc" %></p>
    		<% end %>
    	</div>
    </div>
  </div>
</footer>